* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #fff;
}

.images {
    margin: 10% 0 0 0;
    padding: 0 20% 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #fff;
}
.images img {
    width: 70%;
}
.images .text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.images .text h1 {
    font-size: 10vh;
}

@media only screen and (max-width:768px) {
    .images {
    padding: 0 10% 0 0;

    }
    .images .text h1 {
        font-size: 6vh;
        padding: 0 0 0 10px;
    }
}